.ui-header .ui-title, .ui-footer .ui-title {
    margin-left: 0;
    margin-right: 0;
   /* text-overflow:visble;  */ /* -Uncomment - to disable Ellipsis completely use with Caution- !*/ 
}

#submit_buttons {
	bottom:50px; 
	position:absolute !important; 
	top: auto !important; 
	width:100%;
}

.ui-li-multibubble .ui-li-count {
    float: right;
}

.ui-li-multibubble .ui-li-count:nth-child(odd) {
    margin-right: 5em;
}