<!DOCTYPE html> 
<html> 
<head> 
	<title>Got Coffee on my Mustache</title>
	<script type="text/javascript" src="/javascripts/another.js"></script>
</head>
<body>
	<h1>Got Coffee on my Mustache</h1>
</body>