<!DOCTYPE html> 
<html> 
<head> 
	<title>{{title}}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1;"/> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery.mobile.simpledialog.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/comida.css" />
	
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	
	<!-- Mustache -->
	<script src="javascripts/jquery.mustache.js" type="text/javascript" charset="utf-8"></script>
	
	<!-- MVC: Spine.js -->
	<script src="javascripts/spine/spine.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/spine/local.js" type="text/javascript" charset="utf-8"></script>
	
	<!-- jQuery Mobile -->
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
	
	<!-- jQuery Mobile Dependent Libraries -->
	<script type="text/javascript" src="javascripts/jquery.mobile.simpledialog.min.js"></script>
	
	<!-- jQuery Format Currency Plugin -->
	<script type="text/javascript" src="javascripts/jquery.formatCurrency-1.4.0.js"></script>
	
	<!-- Pull in our Models and Controller -->
	<script src="javascripts/app/models/menu.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/app/models/item.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/app/controllers/cart_item.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/app/controllers/shopping_cart.js" type="text/javascript" charset="utf-8"></script>

	<!-- Application Initialization -->
	<script src="javascripts/app/app.init.js" type="text/javascript" charset="utf-8"></script>
	<!-- script type="text/javascript" src="javascripts/search.js"></script -->	
	
    {{> client_side_templates}}
</head> 
<body> 
{{{yield}}}	
</body>
</html>
