<!-- ********** -->
<!-- ORDER PAGE -->
<!-- ********** -->
<section data-role="page" id="order">
	<header data-role="header">
		<h1>Hungry? Get Some Comida!</h1>
		<nav data-role="navbar" data-iconpos="top">
			<ul>
				<li><a href="#home">Search</a></li>
				<li><a href="#menu">Menus</a></li>
				<li><a href="#order" class="ui-btn-active">Order</a></li>
			</ul>
		</nav>
	</header>

    <div data-role="content">
		<div id="theCart"></div>
	</div>
</section><!-- /page -->